fastapi
uvicorn[standard]
sqlalchemy
opencv-python
numpy
pillow
easyocr
torch
ultralytics
supabase
python-multipart
python-dotenv
jinja2
aiofiles
httpx
requests
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
